version: "3.9"
services:
  redis:
    image: redis:alpine

  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - redis
    ports:
      - "8000:8000"
    command: bash -c "python3 manage.py runserver 0:8000 & celery -A weather_collector worker -l info &  celery -A weather_collector beat -l info"
